---

---

<section>
  <p>Agradecimientos:</p>

  <ul>
    <li>Lilia Ivet Ruiz</li>
    <li>Elkin Chaverra</li>
    <li>Cesar Antonio Brazon Duran</li>
    <li>José Robles</li>
    <li>Alan Buscaglia (Gentleman Programming)</li>
    <li>Adam Rahm</li>
    <li>Miguel Paz</li>
    <li>Joseph Lopez</li>
    <li>Sara Montagud (Afor Digital)</li>
    <li>
      A muchos más que en el camino han servido como guía con sus palabras,
      ayuda de cualquier índole y darme un lugar o momento en sus vidas alguna
      manera.
    </li>
    <li class="bold">
      ** Por favor, no vayan a molestar a estas personas de ninguna manera, no
      están involucradas en mis razones y no tienen que ver en mi decisiones.
      Las nombre solo por el respeto que se merecen por ayudarme. **
    </li>
  </ul>
</section>
