---

---

<div class="container">
  <main>
    <section>
      <h1>Mi última voluntad. Un fracaso como programador y persona</h1>

      <section>
        <p>
          Sé que algunos no me conocen y otros quizás solo un poco. Realmente a
          este punto de mi vida o lo que fue, importa muy poco.
        </p>
        <p>
          Esta carta como despedida en la que quedará terminada el día en el que
          por fin me quite la vida pero dejaré bastante claro las razones y
          porque creo que es mi culpa básicamente existir.
        </p>
      </section>

      <section>
        <p>
          He intentado ser programador desde 2019. Mis comienzos fueron
          complicados porque estuve aprendiendo desde 2017 pero no sabia que
          hacer ni tampoco tenia muchas guías de como comenzar o que era lo que
          quería. Luego de encontrar mi primer trabajo, en el cual fui estafado
          y no lo sabía por no tener nada de experiencia. Yo solamente quería
          aprender un poco mas y al final muy poco aprendí.
        </p>
        <br />

        <p>
          He visto que publicar quejas o este tipo de cosas es marcado como un
          "red flag" o una persona problemática y eso reduce considerablemente
          el chance de optar ser al menos visto por reclutadores o empresas.
          Pero realmente quiero comentar porque esto me parece bastante absurdo
          al menos desde mi perspectiva.
        </p>

        <p>
          Yo solo una vez tuve "problemas" en unas de las empresas donde trabajé
          debido a que hubo tardanza en los pagos y no me dejaron en claro que
          tenia que hacer pues pensaban que habían contratado a alguien mas
          senior y yo no tenia experiencia para ese puesto. De resto, no tuve
          realmente otros problemas o fui problemático de ninguna forma. ¿Pero
          soy problemático solo por colocar en alguna red social como me siento?
          Creo que cualquiera que tenga un inconveniente o se siente mal con
          respecto a su vida laboral no debería de ser catalogado como un
          problemático.
        </p>

        <p>
          Para aquellos que se preguntan o simplemente no saben sobre si tengo
          problemas de depresión o relacionado. Yo siempre he pensado que no
          tengo o sufro realmente de eso debido a que cuando estoy muy mal es
          porque las cosas simplemente no están saliendo como quería y por lo
          tanto me siento mal. Eso aplica la programación y cualquier otro
          intento que tuve en mi vida relacionado a ser alguien o lograr algo.
        </p>
        <br />
        <p>
          He ido a distintos especialistas en distintos momentos de mi vida por
          razones distintas, si concuerdan que tengo depresión y ansiedad y que
          por la gravedad debería tomar tratamientos psiquiátricos y si, ya pasé
          por allí varias veces y tristemente no me ayudo en absolutamente nada.
          La última ayuda que recibí fue por Seguro Social de Venezuela, así que
          no tuve que pagar al menos.
        </p>
      </section>

      <section>
        <p>
          Mi problema con la programación viene desde que comencé. Al darme
          cuenta que a medida que avanzaba me estaba costando más y más. Algunos
          lo pueden llamar "skill issues", es decir, no soy ni seré lo
          suficientemente bueno para programar y esto no tiene nada que ver con
          el síndrome del impostor.
        </p>
        <br />
        <p>
          En mi última experiencia de trabajo, del cual estoy agradecido y
          triste, aprendí muchas cosas pero no las suficientes (y con esto no
          estoy culpando a la empresa a no darme retos, más formas de aprender
          ya que al final esto es solo mi responsabilidad) como para sentirme
          preparado y dejar a medias algo que había querido terminar desde un
          principio para dejar al menos un huella y de que mi trabajo valía para
          algo. Pero tristemente era una persona con poco competencia o
          experiencia, por lo tanto debía de irme de la empresa según sus
          necesidades en las cuales yo no tenía para ellos. A partir de aquí
          todo mi mundo se desplomo...
        </p>
        <br />
        <p>
          Me di cuenta que de nuevo estaba en el mismo ciclo de soledad, darme
          cuenta de que las cosas habían cambiado en el mercado laboral y los
          niveles de exigencias habían aumentado considerablemente para la
          experiencia que tenia hasta el momento de esta carta de despedida,
          eran bastante pobres. Estuve bloqueado por meses, luego de ser botado
          de la empresa sin saber que hacer con mi vida laboralmente y también
          como persona. Ya abordaré el problema de ser venezolano y como esto
          también me tiene bastante afectado.
        </p>
        <br />

        <p>
          Intenté dedicarme a estudiar lo que pude con el contenido libre que
          hay. Pero el problema no era ese. El problema es que me dificultaba
          mucho aprender algoritmos, que son los necesarios para pasar
          entrevistas. No es sencillo dominarlos todos para entrevistas y tener
          la capacidad de resolver casi todo. No me puedo aprender todo en el
          Front-end o en poco tiempo tener experiencia como un Full-stack, es
          imposible. El inglés también es una limitante muy grande. Mi nivel no
          era el adecuado para la mayoría de puestos de trabajo que exigen C1
          (mi nivel máximo es B2 y con una infinidad de errores y con mucho
          esfuerzo podía comunicarme en inglés con un amigo de USA con el cual
          practiqué durante más de dos años) y yo nunca he tenido una
          experiencia trabajando en un equipo de habla inglesa.
        </p>
        <br />
        <p>
          Estaba perdido porque realmente me di cuenta que no soy bueno en nada
          y es duro de admitir. Tener una carrera universitaria como profesor de
          química y no ejercer debido a la situación del país y no ser bueno
          para la educación, es tiempo perdido más y no quería repetir lo mismo
          con la programación de la cual pensaba que era lo mío de alguna forma.
          Intenté lo mismo con la música pero fue peor, porque para eso se
          necesita tener mucho talento y es algo que no tengo, solo fui
          perseverante hasta cierto punto donde podía tocar guitarra de forma
          decente. Por estas razones, nunca supe que mas hacer con mi vida ya
          casi nada me gustaba hacer más que trabajar como programador.
        </p>
        <br />
        <p>
          Algunos se preguntarán el porqué de no trabajar en Venezuela. Si no lo
          saben, la situación económica en Venezuela es dura y para muchos es
          imposible cubrir gastos básicos en un mes. En su mayoría son sueldos
          por debajo de $200 y si tienes mucha suerte de que te paguen por
          encima de $100, además los trabajos ofrecidos como programador en
          Venezuela no existen. Por esta razón, dedicarme a otro tipo de negocio
          es imposible y no te da la calidad de vida mínima para poder vivir.
        </p>
        <br />
        <p>
          Se que pensarán que cualquier trabajo es válido pero eso no significa
          que este sea digno. Sí tengo un trabajo en el que tengo que hacer algo
          que yo no quiero ni está relacionado en lo más mínimo a lo que quiero
          alcanzar, ¿Qué tiene eso de digno? quizás en una situación distinta al
          país, podría verlo como un plan de contingencia mientras consiga algo
          mejor pero no es posible, por lo tanto, cualquier trabajo aquí solo te
          esclaviza.
        </p>
      </section>

      <section>
        <p>
          Esta es una lista de cosas que me hubiera gustado alcanzar como
          programador:
        </p>

        <ul>
          <li>
            Poder entender bien la lógica de como resolver problemas como un
            programador senior o de un perfil alto. Sentía mucha frustración al
            ver como muchos eran mejores que yo y aun así no podían encontrar
            trabajo como yo. Nunca llegué a ser realmente bueno o destacable.
          </li>
          <li>
            Crear una app que dejara algún impacto, por más pequeña que fuera.
            Algo que pudiera demostrar las habilidades que hubiera querido
            tener.
          </li>
          <li>
            Tuve la idea para crear dos aplicaciones. Una para gestionar rifas
            sin tener que involucrar dinero, solo llevar registros. Pensé en eso
            debido a una experiencia laboral que tuve y que se podía hacer de
            una forma mas sencilla. La otra, una app para hacer seguimiento de
            una persona con problemas psicológicos donde se comuniquen el
            paciente o un representante con el especialista sin usar
            aplicaciones de mensajería externas.
          </li>
        </ul>
      </section>

      <section>
        <p>
          Aquí dejo mi <a
            href="https://marcosesqueda.dev/"
            target="_blank"
            rel="noopener noreferrer">portafolio</a
          > como una muestra de que hice algo alguna vez o intenté tener presencia
          como programador muy poco destacable.
        </p>
      </section>

      <section>
        <h2>
          Un listado de razones por las que ya dejaré de luchar y quitarme la
          vida:
        </h2>
        <ul>
          <li>
            Nunca encontré sentido a mi vida, jamás supe para que era bueno o
            para que servía como persona o ser humano.
          </li>
          <li>
            Una carga para mi familia. Desde hace mucho tiempo lo he sido a
            pesar de que ellos digan que no. Se supone que yo debería ayudar más
            pero tristemente tomé todas las peores decisiones que me llevaron al
            punto de estoy. Ya he hecho sufrir mucho a mi familia sobre todo a
            mis padres
          </li>
          <li>
            Vivir en Venezuela es un infierno y no se lo merece nadie. No poder
            irme o vivir afuera pasando más necesidad por ser unas de las
            nacionalidades más odiadas, no ayuda. Nada me asegura lograr algo al
            salir del país.
          </li>
          <li>
            Hay otros temas personales a los que en carta a mi familia serán
            reveladas pero hay muchas más cosas por las que ya no valgo la pena
            para seguir vivo. Creo que solo vine a sufrir.
          </li>
          <li>
            Quiero dejar de sufrir. Estoy cansado de luchar tanto por algo que
            parece imposible
          </li>
        </ul>
      </section>

      <section>
        <p>Agradecimientos:</p>

        <ul>
          <li>Lilia Ivet Ruiz</li>
          <li>Elkin Chaverra</li>
          <li>Cesar Antonio Brazon Duran</li>
          <li>José Robles</li>
          <li>Adam Rahm</li>
          <li>Miguel Paz</li>
          <li>Joseph Lopez</li>
          <li>
            A muchos más que en el camino han servido como guía con sus
            palabras, ayudas y darme un lugar en sus vidas para ayudarme de
            alguna manera.
          </li>
        </ul>
      </section>
    </section>
  </main>
</div>

<style>
  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  main {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
    padding-inline: 1rem;

    section {
      width: 100%;
      margin-block: 2rem;
    }
  }

  ul li {
    margin-block: 1rem;
  }

  h1 {
    font-size: 22px;
    margin-top: 1em;
    text-align: center;
  }

  p {
    font-size: clamp(16px, 1rem + 1vw, 1.1rem);
    line-height: 24px;
    letter-spacing: -0.006em;
    margin: 0;
  }

  @media screen and (max-width: 768px) {
    .container {
      display: flex;
      flex-direction: column;
    }

    h1 {
      line-height: 1.5;
    }
  }
</style>
