---

---

<div class="container">
  <main>
    <section>
      <h1>Mi última voluntad. Un fracaso como desarrollador web y persona</h1>

      <section>
        <p>
          Sé que algunos no me conocen y otros quizás solo un poco. Realmente a
          este punto de mi vida importa muy poco.
        </p>
        <p>
          Esta carta como despedida en la que quedaré terminada el día en el que
          por fin me quite la vida pero dejaré bastante claro las razones y
          porque creo que es mi culpa y también en que se debe hacer algo.
        </p>
      </section>

      <section>
        <p>
          He intentado ser programador desde 2019. Mis comienzos fueron
          complicados porque estuve aprendiendo desde 2017 pero no sabia que
          hacer ni tampoco tenia muchas guías de como comenzar. Luego de
          encontrar mi primer trabajo, en el cual fui estafado y no lo sabía por
          no tener nada de experiencia. Yo solamente quería aprender un poco mas
          y al final muy poco aprendí.
        </p>
        <br />

        <p>
          He visto que publicar quejas o este tipo de cosas es marcado como un
          "red flag" o una persona problemática y eso reduce considerablemente
          el chance de optar ser al menos visto por reclutadores o empresas.
          Pero realmente quiero comentar porque esto me parece bastante absurdo
          al menos desde mi perspectiva.
        </p>

        <p>
          Yo solo una vez tuve "problemas" en unas de las empresas donde trabajé
          debido a que hubo tardanza en los pagos y no me dejaron en claro que
          tenia que hacer pues pensaban que habían contratado a alguien mas
          senior y yo no tenia experiencia para ese puesto. De resto, no tuve
          realmente otros problemas o fui problemático de ninguna forma. ¿Pero
          soy problemático solo por colocar en alguna red social como me siento?
          Creo que cualquiera que tenga un inconveniente o se siente mal con
          respecto a su vida laboral no debería de ser catalogado como un
          problemático.
        </p>

        <p>
          Para aquellos que se preguntan o simplemente no saben sobre si tengo
          problemas de depresión o relacionado. Yo siempre he pensado que no
          tengo o sufro realmente de eso debido a que cuando estoy muy mal es
          porque las cosas simplemente no están saliendo como quería y por lo
          tanto me siento mal. Es aplica la programación y cualquier otro
          intento que tuve en mi vida relacionado a ser alguien o lograr algo.
        </p>
        <br />
        <p>
          He ido a distintos especialistas en distintos momentos de mi vida por
          razones distintas, si concuerdan que tengo depresión y ansiedad y que
          por la gravedad debería tomar tratamientos psiquiátricos y si, ya pasé
          por allí y tristemente no me ayudo en absolutamente nada. La última
          ayuda que recibí fue por Seguro Social de Venezuela, así que no tuve
          que pagar al menos.
        </p>
      </section>

      <section>
        <p>
          Mi problema con la programación viene desde que comencé. Al darme
          cuenta que a medida que avanzaba me estaba costando más y más. Algunos
          lo pueden llamar "skill issues", es decir, no soy ni seré lo
          suficientemente bueno para programar y esto no tiene nada que ver con
          el síndrome del impostor.
        </p>
        <br />
        <p>
          En mi última experiencia de trabajo, del cual estoy agradecido y
          triste, aprendí muchas cosas pero no las suficientes (y con esto no
          estoy culpando a la empresa a no darme retos, más formas de aprender
          ya que al final esto es solo mi responsabilidad) como para sentirme
          preparado y dejar a medias algo que había querido terminar desde un
          principio para dejar al menos un huella y de que mi trabajo valía para
          algo. Pero tristemente era una persona con poco competencia o
          experiencia, por lo tanto debía de irme de la empresa según sus
          necesidades en las cuales yo no tenía para ellos. A partir de aquí
          todo mi mundo se desplomo...
        </p>
        <br />
        <p>
          Me di cuenta que de nuevo estaba en el mismo ciclo de soledad, darme
          cuenta de que las cosas habían cambiado en el mercado laboral y los
          niveles de exigencias habían aumentado considerablemente para la
          experiencia que tenia hasta el momento de la carta eran bastante
          pobres. Estuve bloqueado por meses, luego de ser botado de la empresa
          sin saber que hacer con mi vida laboralmente y también como persona.
          Ya abordaré el problema de ser venezolano y como esto también me tiene
          bastante afectado.
        </p>
        <br />

        <p>
          Intenté dedicarme a estudiar lo que pude con el contenido libre que
          hay. Pero el problema no era ese. El problema es que me dificultaba
          mucho aprender algoritmos, que son los necesarios para pasar
          entrevistas. No es sencillo dominarlos todos para entrevistas y tener
          la capacidad de resolver casi todo. No me puedo aprender todo en el
          Front-end, es imposible. El inglés también es una limitante muy
          grande. Mi nivel no era el adecuado para la mayoría de puestos de
          trabajo que exigen C1 (mi nivel máximo es B2 y con una infinidad de
          errores y con mucho esfuerzo podía comunicarme en inglés con un amigo
          de USA con el cual practiqué durante más de dos años) y yo nunca he
          tenido una experiencia trabajando en un equipo de habla inglesa.
        </p>
      </section>
    </section>
  </main>
</div>

<style>
  .container {
    font-family: "Helvetica Neue", Arial, sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  main {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
    padding-inline: 1rem;

    section {
      width: 100%;
      margin-block: 2rem;
    }
  }

  h1 {
    font-size: 22px;
    margin-top: 1em;
    text-align: center;
  }

  p {
    color: #4b5563;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.006em;
    margin: 0;
  }

  @media screen and (max-width: 768px) {
    .container {
      display: flex;
      flex-direction: column;
    }

    h1 {
      line-height: 1.5;
    }
  }
</style>
