<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Despedida</title>
  </head>
  <body>
    <slot />
    <footer>Lo mejor para ustedes. Marcos Esqueda. 2025</footer>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    font-family: "Helvetica Neue", Arial, sans-serif;
    color: #1c1c1c;
    background-color: beige;
  }

  footer {
    padding: 2rem;
    font-style: italic;
  }
</style>
